*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
html,
body{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width:100%;
    background-color:#111;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cursor{
    height:22px;
    width:22px;
    border-radius: 50%;
    background-color: white;
    position:fixed;
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9;
}
#image{
    height: 30vw;
    width: 60vw;
    background-color: red;
    position:relative
}
#image img{
    height:100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    background-color: transparent;
    height: 100%;
    width:100%;
    position:absolute;
    z-index: 10;
}